body {
    overflow-x: hidden;
}

main { 
    padding-top: 17vh;
    height: 100vh;
    width: 100vw;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.instrument-container {
    width: 90%;
    min-height: 85%;

    background-color: oldlace;
    box-shadow: 0 10px 30px rgba(60, 40, 20, 0.25);
    overflow: hidden;

    border-radius: 20px;
    border: solid 1px gray;

    display: grid;
    grid-template-columns: 600px 1fr;
    /* grid-template-columns: 4fr 5fr; */
}

.instrument-image-container {
    /* padding: 10px; */
    height: 100%;
    background-color: white;
    border-right: solid 1px gray;

    display: flex;
    justify-content: center;
    align-items: center;
}
.instrument-image {
    /* height: 100%;
    width: 100%; */
    height: 550px;
    width: 550px;
}

.details {
    height: 100%;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.upper-details-container {
    width: 90%;
    height: 25%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shrink-1 {
    height: 35px;
    transition: transform 0.2s ease-in-out;
}
.shrink-1:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.shrink-1.in-favorite {
    color: red;
}

.favorite-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.desc-container {
    width: 80%;
    height: 25%;
}

.expand-btn {
    padding: 5px;
    font-size: 18px;
    display: inline-block;
    text-decoration: underline;
}
.expand-btn:hover {
    cursor: pointer;
    color: violet;
}

.lower-details-container {
    width: 90%;
    height: 25%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-lower-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-container {
    display: flex;
    gap: 20px;
}

.instrument-images-other {
    height: 50px;
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
}

.instrument-images-other:hover {
    transform: scale(1.2);
    cursor: pointer;
}